*,
*::after,
*::before {
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  height: 100%;
  width: 100%;
}
body {
  background: rgb(156, 163, 175);
  background: linear-gradient(
    180deg,
    rgba(156, 163, 175, 1) 0%,
    rgba(15, 23, 42, 1) 100%
  );
}
/* Header */
.header {
  font-size: 2.5rem;
  color: #f8fafc;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
}
/* Main */
.main {
  background-color: rgba(75, 85, 99, 0.4);
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2rem;
  border-radius: 10px;
  gap: 3rem;
  width: 75%;
  height: 80%;
}

#root {
  height: 100vh;
  display: grid;
  grid-template-rows: 1fr 6fr;
  grid-template-columns: 1fr;
  justify-items: center;
}

/* Location Input */
.input-card {
  width: 40%;
  height: 20%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  margin-top: 1rem;
  grid-area: 2 / 1 / 2 / 1;
  border-radius: 10px;
}

.location-input {
  width: 50%;
  padding: 0.5rem;
  border-radius: 5px;
  border-style: none;
}

.location-submit {
  width: 30%;
  background-color: #e2e8f0;
  border-style: none;
  border-radius: 5px;
  padding: 0.5rem;
}

/* Weather Card */
.weather-container {
  display: flex;
}
.weather-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  color: #f1f5f9;
  background-color: #0369a1;
  height: 30vh;
  width: 30vw;
  border-radius: 10px;
  grid-area: 2 / 1 / 2 / 1;
}

.location-name {
  font-size: 2rem;
  margin: 1rem 0rem 1rem 0rem;
}

.temp,
.feels-like,
.humidity {
  font-size: 1.5rem;
}
